!!!
!!! XML
%html
  %head
    %title KamiParty | Admin
    = css('admin')
  %body
    .header
      %h1
        %a{:href => r(:/)} KamiParty | Admin
    .content= @content
    .footer
      &copy; 2009 by Michael Fellinger
