<ul>
  <li class="title">About KamiParty</li>
  <li>
    KamiParty is a tiny content management system built on
    <a href="http://ramaze.net">Ramaze</a>,
    <a href="http://sequel.rubyforge.org">Sequel</a>,
    <a href="http://haml.hamptoncatlin.com/">Haml & Sass</a>,
    <a href="http://www.liquidmarkup.org">Liquid</a>
  </li>
</ul>
